label {
    display: block;
    width: 8em;
    margin: .5em 0;
    font-weight: bold;
  }
  
  input {
    height: 1em;
    font-size: .8em;
    padding-left: .4em;
  }

  form{
    text-align: left;
    border: 2px solid aliceblue;
    border-radius: 16px;
    padding: 5px 35px;
    width: 181px;
  }

  .formcontainer {
    justify-content: center;
    display: flex;
    margin-top: 1em;
    padding: auto;
}